# --- Entorno virtual ---
venv/
ENV/
env/
.venv/

# --- Archivos temporales / cachés ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.tmp
*.log
*.DS_Store
Thumbs.db

# --- Archivos generados por la aplicación ---
debug/
frames/
logs/

# --- Ficheros de referencia grandes/no versionables ---
# config/*/personajes_ref/

# --- Archivos de sistema/IDE ---
.vscode/
.idea/
*.iml
